body {
  background: $light-gray;
}

.mt0 {
  margin-top: 0;
}
.mt15 {
  margin-top: 15px;
}
.mt25 {
  margin-top: 25px;
}
.mb0 {
  margin-bottom: 0;
}
.mb15 {
  margin-bottom: 15px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb35 {
  margin-bottom: 35px;
}
.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px;
}