footer {
  padding: 20px 0;
  background: $light-gray;
  border-top: 1px solid $border-gray;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $black;
      text-shadow: 0 0 5px $white;
      text-decoration: underline !important;
    }
    &:active, &:focus {
      color: $black;
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }
}